<div class="container-fluid">
  <div class="col-lg-9 col-md-9 col-sm-9 col-9 principal">
    <div class="col-lg-12 col-md-12 col-sm-12 col-9 primero">
      <div class="col-lg-7 col-md-7 col-sm-7 col-7 contenido">
        <h2>Funcionamiento de la página.</h2>
        <p>Steam es una plataforma de videojuegos a nivel mundial, además de ser la más famosa, es usada a diario
          por más de 15 millones de usuarios. Cada usuario tiene su perfil personal, el cuál se diferencia del resto
          por una ID única.</p>
        <p>En este proyecto he usado la API de Steam, la que por cierto tiene poco soporte a diario, aún así hay
          muchos métodos que funcionan igual pero no tienen soporte.</p>
        <p>El propósito de la página, es crear un portal donde se puedan buscar datos de usuario de una manera más
          cómoda y fácil de la que ofrece Steam.</p>
        <p>Su funcionamiento es sencillo, existen dos tipos de búsqueda, de juegos y de usuarios. El buscador de usuarios
          tiene como parámetro a buscar la ID del usuario, o séase, su identificador. En el buscador de juegos debemos
          introducir el nombre del juego que queremos buscar para que muestre los detalles del juego (que prácticamente
          es todo lo que me deja mostrar el json que devuelve).</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-4 ejemplos">
        <h3>Ejemplos de búsqueda</h3>
        <li>76561198006013024</li>
        <li>76561198042439949</li>
        <li>76561197985984108</li>
        <li>76561198148066297</li>
        <hr>
        <li>Counter-Strike: Global Offensive</li>
        <li>TEKKEN 7</li>
        <li>PLAYERUNKNOWN'S BATTLEGROUNDS</li>
        <li>Grand Theft Auto V</li>
        <hr>
        <p>Sólo habría que copiar y pegar en los buscadores correspondientes.</p>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 segundo">
      <button>Cambiar la página con la mejor fuente del mundo</button>
      <button>Volver a lo normal y aburrido</button>
    </div>
  </div>
</div>
